*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/*share style */
.btn{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container-heading{
    max-width: 827px;
    margin: auto;
    text-align: center;
}
.container-heading h2{
color: #181818;
font-size: 35px;
margin-bottom: 30px;
}
.container-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}


header{
    background: url(../images/developer.png) left 40px top 30px, url(../images/header_bg.png) bottom right , #FFF8F3;
    background-repeat: no-repeat;
    padding-top: 50px;
    
}
nav{
    width: 71%;
    max-width: 1140px;
     margin: 0px auto;
     display: flex;
     justify-content: space-between;
     align-items: center;

}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.r{
color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

#banner{
    /*border: 2px red solid;*/
    margin: 46px 38px 0 230px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
    max-height: 356px;
}
.button{
    display: flex;
    gap: 30px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    color: #000000;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .img img{
    max-width: 584px;
    vertical-align: middle;
}
#about , #skill, #resume{
    padding-top: 130px;
}
#about-container{
    width: 1140px;
    max-width: 71%;
    margin: auto;
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 156px;
}

#card-div{
display: flex;
justify-content: space-around;
}
#card-div .card-info p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

#card-div .card-info h4{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}

#skill-box{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: auto;
    gap: 24px;
    padding-top: 50px;
}
#skill-box .card-box{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000070;
}
#skill-box .card-box img{
    width: 44px;
    margin-bottom: 30px;
}
#skill-box .card-box h3{
    font-size: bold;
    font: 20px;
    color: #181818;
    margin-bottom: 20px;
}
#skill-box .card-box p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

#resume .resume-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    gap: 24px;
}

.resume-title{
    font-size: bold;
    size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.card-info .card-title{
    size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.card-info .card-info{
    size: 20px;
    font-size: ;
}